<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login-screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="center-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login-screen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="grid-center">
    <ion-row class="row-center">
      <ion-col class="col-center">
        <ion-button>ads</ion-button>
        <ion-button>affg</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

