<ion-header>
  <ion-toolbar>
    <ion-title>Manage Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-between">
      <ion-col size="auto">
        <ion-button (click)="goBack()">Back</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openModal()">Add</ion-button>
        <ion-button (click)="removeQuestion()" [disabled]="selectedQuestion === null">Remove</ion-button>
        <ion-button (click)="modifyQuestion()" [disabled]="selectedQuestion === null">Modify</ion-button>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let question of questions; let i = index" (click)="selectQuestion(i)">
            <ion-label>{{ question.text }}</ion-label>
            <ion-icon name="chevron-down" slot="end" *ngIf="!question.showAnswers"></ion-icon>
            <ion-icon name="chevron-up" slot="end" *ngIf="question.showAnswers"></ion-icon>
            <ion-list *ngIf="question.showAnswers">
              <ion-item *ngFor="let answer of question.answers">
                <ion-label>{{ answer }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>

  <!-- Modální okno pro přidání/úpravu otázky -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Question Creation</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="questionForm">
          <ion-item>
            <ion-input placeholder="Enter question" formControlName="question"></ion-input>
          </ion-item>
          <ion-item *ngFor="let answer of answersControls; let j = index">
            <ion-input placeholder="Enter answer {{ j + 1 }}"></ion-input>
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
