.full-height {
  height: 100vh;
}

.divider-col {
  display: flex;
  justify-content: center;
}

.divider {
  height: 100%;
  width: 0.5cm;
  background-color: var(--ion-color-primary);
}

ion-item {
  --min-height: 60px;
}
