ion-menu-button {
  color: var(--ion-color-primary);
}

.textField {
  border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
  max-width: 370px;
  max-height: 90px;
  padding: 4px 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 4rem;
}

.editButton {
  position: absolute;
  top: -1rem;
  right: -2rem;

  --background: unset;
  --background-hover: unset;
  --background-activated: unset;
  --background-focused: unset;

  --color: var(--ion-color-primary);
}

.avatarContainer {
  position: relative;
  width: 200px;
}


ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
