.correct-feedback {
  color: green;
  font-weight: bold;
}

.incorrect-feedback {
  color: red;
  font-weight: bold;
}

ion-item.correct {
  --background: #d4edda;
  --color: #155724;
}

ion-item.incorrect {
  --background: #f8d7da;
  --color: #721c24;
}
