<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>podium</ion-title>
  </ion-toolbar>
</ion-header>




<ion-header>
  <ion-toolbar>

    <ion-button expand="block" size="large" class="statistics-button" shape="round">
      Statistiky
    </ion-button>
  </ion-toolbar>
</ion-header>

<div class="content">

  <div class="podium">

    <div class="podium-item second">
      <div class="podium-block"></div>
      <div class="medal silver">2</div>
    </div>

    <div class="podium-item first">
      <div class="podium-block"></div>
      <div class="medal gold">1</div>
    </div>

    <div class="podium-item third">
      <div class="podium-block"></div>
      <div class="medal bronze">3</div>
    </div>
  </div>


  <div class="buttons-horizontal">
    <ion-button>Odveta</ion-button>
    <ion-button>Lobby</ion-button>
    <ion-button>Nová hra</ion-button>
  </div>
</div>










