.question {
  text-align: center;
  margin-bottom: 20px;
}

ion-item {
  --min-height: 50px;
}
.question-number {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 10px;
}
.current-time {
  font-size: 1.2em;
  padding-right: 10px;
}
.correct-answer {
  background-color: #d4edda; /* světle zelená */
  color: #155724; /* tmavě zelená */
}

.incorrect-answer {
  background-color: #f8d7da; /* světle červená */
  color: #721c24; /* tmavě červená */
}

