<ion-header>
  <ion-toolbar>
    <ion-title>Achievements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Velký čtverec uprostřed nahoře -->
    <div class="new-square">
      <span class="square-text">Complete (0%)</span>
    </div>


    <!-- Grid s 20 čtverci uspořádaný po 5 čtvercích v řadě -->
    <div class="grid-container">
      @for (square of squares; track $index) {
        <div class="square" (click)="toggleText($index)">
          <div class="svg-slot">
            <div *ngIf="clickedSquare === $index" class="square-text">Text for Square {{$index + 1}}</div>
          </div>
        </div>
      }
    </div>
  </div>
</ion-content>
