<ion-header>
  <ion-toolbar>
    <ion-title>Achievements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Velký čtverec uprostřed nahoře -->
    <div class="new-square">
      <span class="square-text">Complete (-%)</span>
    </div>

    <!-- Grid s 20 čtverci uspořádaný po 5 čtvercích v řadě -->
    <div class="grid-container">
      <div *ngFor="let square of squares; let index = index"
           class="square"
           (click)="toggleText(index)"
           [class.expanded]="square.expanded">
        <div class="svg-slot" *ngIf="!square.expanded">
          <!-- SVG pro každý čtverec, pokud není rozbalen -->
          <img [src]="square.svg" alt="SVG Icon" />
        </div>
        <div *ngIf="square.expanded" class="square-text">{{ square.text }}</div>
      </div>
    </div>
  </div>
</ion-content>
